flows.json
[
    {
        "id": "b80eee1e6e25b6f8",
        "type": "comment",
        "z": "a5156d3b0f8d722b",
        "name": "https://www.atacadostar.com.br/",
        "info": "",
        "x": 210,
        "y": 60,
        "wires": []
    },
    {
        "id": "61cffaccdeb06ad0",
        "type": "nbrowser",
        "z": "a5156d3b0f8d722b",
        "name": "",
        "methods": [
            {
                "name": "gotoURL",
                "func": "goto",
                "params": [
                    {
                        "type": "msg",
                        "value": "payload",
                        "typeDefault": "str"
                    }
                ]
            }
        ],
        "prop": "nbrowser",
        "propout": "payload",
        "object": "msg",
        "objectout": "msg",
        "close": false,
        "show": false,
        "ssl": false,
        "outputs": 1,
        "x": 220,
        "y": 300,
        "wires": [
            [
                "3d5e42489d6780ec",
                "17bc49f21b92857e",
                "8f89c4da6896f9f6",
                "dfa558f17b76726b"
            ]
        ]
    },
    {
        "id": "3d5e42489d6780ec",
        "type": "html",
        "z": "a5156d3b0f8d722b",
        "name": "nome",
        "property": "payload",
        "outproperty": "payload",
        "tag": ".list_product_name",
        "ret": "text",
        "as": "single",
        "x": 510,
        "y": 200,
        "wires": [
            [
                "5a27462172802bdc"
            ]
        ]
    },
    {
        "id": "17bc49f21b92857e",
        "type": "html",
        "z": "a5156d3b0f8d722b",
        "name": "preço",
        "property": "payload",
        "outproperty": "payload",
        "tag": ".avista_price b",
        "ret": "text",
        "as": "single",
        "x": 510,
        "y": 260,
        "wires": [
            [
                "5a27462172802bdc"
            ]
        ]
    },
    {
        "id": "7622359c7d2ad258",
        "type": "http in",
        "z": "a5156d3b0f8d722b",
        "name": "",
        "url": "api/v1/fornecedores/atacadostar",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 120,
        "wires": [
            [
                "805def6807c06fab"
            ]
        ]
    },
    {
        "id": "4236bb63e23580e4",
        "type": "http response",
        "z": "a5156d3b0f8d722b",
        "name": "retorno lista de produtos",
        "statusCode": "200",
        "headers": {},
        "x": 1190,
        "y": 300,
        "wires": []
    },
    {
        "id": "805def6807c06fab",
        "type": "function",
        "z": "a5156d3b0f8d722b",
        "name": "query params",
        "func": "msg.payload = \"https://www.atacadostar.com.br/\" + msg.req.query.url;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 220,
        "wires": [
            [
                "61cffaccdeb06ad0"
            ]
        ]
    },
    {
        "id": "8f89c4da6896f9f6",
        "type": "html",
        "z": "a5156d3b0f8d722b",
        "name": "detalhes { href }",
        "property": "payload",
        "outproperty": "payload",
        "tag": ".image a",
        "ret": "attr",
        "as": "single",
        "x": 480,
        "y": 320,
        "wires": [
            [
                "5a27462172802bdc"
            ]
        ]
    },
    {
        "id": "eb16ff5f886889e1",
        "type": "comment",
        "z": "a5156d3b0f8d722b",
        "name": "fluxo de exceção na extração de dados",
        "info": "- Durante os testes foi observado que em alguns\n produtos não tinha fabricante, isso poderia\ndeixa as lista 'desalinhadas'.\nPor isso a necessidades que verificar\nse o tamanho da listas (nome, preço, foto, outros ...)\n\n-",
        "x": 1030,
        "y": 360,
        "wires": []
    },
    {
        "id": "dfa558f17b76726b",
        "type": "html",
        "z": "a5156d3b0f8d722b",
        "name": "foto { src }",
        "property": "payload",
        "outproperty": "payload",
        "tag": ".image a img ",
        "ret": "attr",
        "as": "single",
        "x": 500,
        "y": 380,
        "wires": [
            [
                "5a27462172802bdc"
            ]
        ]
    },
    {
        "id": "5a27462172802bdc",
        "type": "join",
        "z": "a5156d3b0f8d722b",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 770,
        "y": 300,
        "wires": [
            [
                "224a40666a5bf6db"
            ]
        ]
    },
    {
        "id": "224a40666a5bf6db",
        "type": "function",
        "z": "a5156d3b0f8d722b",
        "name": "join listas",
        "func": "\nvar result = [];\n\nmsg.payload[0].forEach(function(nome,i) {\n\n   //result.push(v+msg.payload[1][i]); \n   result.push({ \n      \"nome\": nome,\n      \"preco\": msg.payload[1][i],\n      \"detalhe\": msg.payload[2][i].href,\n      \"foto\": msg.payload[3][i].src\n    }); \n   \n\n});\n\nmsg.payload = result;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 300,
        "wires": [
            [
                "4236bb63e23580e4"
            ]
        ]
    }
]
